.discount {
    padding: 2rem;
}

.discount__text {
    width: 90%;
    margin: auto;
    padding: 2rem;
    background-color: #393939;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    color: #FFF;
    animation: flash 2.5s linear infinite alternate;
}

@keyframes flash {
    0% {
        background-color: #393939;
    }

    50% {
        background-color: #5BACC3;
    }

    100% {
        background-color: #393939;
    }
}